@model Jadwal

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Jadwal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdDokter" class="control-label"></label>
                <select asp-for="IdDokter" class ="form-control" asp-items="ViewBag.IdDokter"></select>
            </div>
            <div class="form-group">
                <label asp-for="Hari" class="control-label"></label>
                <input asp-for="Hari" class="form-control" />
                <span asp-validation-for="Hari" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JamMulai" class="control-label"></label>
                <input asp-for="JamMulai" type="time" class="form-control" />
                <span asp-validation-for="JamMulai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JamSelesai" class="control-label"></label>
                <input asp-for="JamSelesai" type="time" class="form-control" />
                <span asp-validation-for="JamSelesai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tanggal" class="control-label"></label>
                <input asp-for="Tanggal" type="date" class="form-control" />
                <span asp-validation-for="Tanggal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusJadwal" class="control-label"></label>
                <input asp-for="StatusJadwal" class="form-control" />
                <span asp-validation-for="StatusJadwal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
